/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 6, 2017, 2:56:26 AM
    Author     : Jayan
*/

.package_heading{
    margin-top:60px !important;
    display: inline-block;
    color: #444444;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 900;
    font-stretch: normal;
    font-size: 30px;
    line-height: 35px;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
}

.tabbable-panel {
  border:1px solid royalblue;
  padding: 10px;
}